// https://yalter.github.io/niri/Configuration:-Introduction
// ################
// ### General ###
// ################
include "modules/general.kdl"


// https://yalter.github.io/niri/Configuration:-Input
// #############
// ### Input ###
// #############
include "modules/input.kdl"


// https://yalter.github.io/niri/Configuration:-Outputs
// ################
// ### Monitors ###
// ################
include "dms/outputs.kdl"


// https://yalter.github.io/niri/Configuration:-Layout
// ##############
// ### Layout ###
// ##############
include "modules/layout.kdl"


// https://yalter.github.io/niri/Configuration:-Animations
// ##################
// ### Animations ###
// ##################
include "modules/animations.kdl"


// https://yalter.github.io/niri/Configuration:-Window-Rules
// #############
// ### Rules ###
// #############
include "modules/rules.kdl"


// #############
// ### Binds ###
// #############
include "modules/binds.kdl"

debug {
    // ignore-drm-device "/dev/dri/renderD128"
    // render-drm-device "/dev/dri/renderD129"
}
