@import "mocha.css";
/* NOTE: add tool tip design & wifi & app launcher using fuzzel or wofi or ulauncher*/
* {
  font-family: "JetBrainsMono Nerd Font, Noto Sans Arabic 10";
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
  margin-top: 1rem;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#cpu,
#memory,
#disk,
#temperature,
#network,
#power-profiles-daemon,
#custom-weather,
#custom-launcher,
#custom-ws1,
#custom-ws2,
#custom-ws3,
#custom-updates {
  background-color: @surface0;
  padding: 0.5rem 0.8rem;
  margin: 0.4rem 0rem 0.4rem 0rem;
  
}
tooltip {
  background-color: @surface0; /* Dark background */
  color: @text; /* White text */
  border-radius: 1rem; /* Rounded corners */
  padding: 0.5rem 0.8em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.snowyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  padding-right: 0.1rem;
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery,
#network,
#power-profiles-daemon {
  border-radius: 0;
}

#network {
  color: @lavender;
}

#power-profiles-daemon {
  color: @green;
  padding-right: 0.3rem;
}

#power-profiles-daemon.balanced {
  color: @yellow;
}

#power-profiles-daemon.performance {
  color: @mauve;
}

#pulseaudio {
  padding-right: 0.2rem;
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-power {
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
#custom-ws1,
#custom-ws2,
#custom-ws3 {
  font-size: 14px;
}
#custom-ws1 {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
}

#custom-ws3 {
  border-radius: 0px 1rem 1rem 0px;
}

#custom-ws1.active,
#custom-ws2.active,
#custom-ws3.active {
  color: @green;

  /* text-shadow: */
  /*   -4px -4px 0 rgba(245, 224, 220, 1), */
  /*   4px -4px 0 rgba(245, 224, 220, 1), */
  /*   -4px 4px 0 rgba(245, 224, 220, 1), */
  /*   4px 4px 0 rgba(245, 224, 220, 1), */
  /*   -4.1px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.1px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.1px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.1px 0 rgba(245, 224, 220, 1), */
  /*   -4.2px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.2px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.2px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.2px 0 rgba(245, 224, 220, 1), */
  /*   -4.3px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.3px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.3px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.3px 0 rgba(245, 224, 220, 1), */
  /*   -4.4px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.4px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.4px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.4px 0 rgba(245, 224, 220, 1), */
  /*   -4.5px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.5px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.5px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.5px 0 rgba(245, 224, 220, 1), */
  /*   -4.6px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.6px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.6px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.6px 0 rgba(245, 224, 220, 1), */
  /*   -4.7px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.7px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.7px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.7px 0 rgba(245, 224, 220, 1), */
  /*   -4.8px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.8px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.8px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.8px 0 rgba(245, 224, 220, 1), */
  /*   -4.9px 0px 0 rgba(245, 224, 220, 1), */
  /*   4.9px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -4.9px 0 rgba(245, 224, 220, 1), */
  /*   0px 4.9px 0 rgba(245, 224, 220, 1), */
  /*   -5px 0px 0 rgba(245, 224, 220, 1), */
  /*   5px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5px 0 rgba(245, 224, 220, 1), */
  /*   0px 5px 0 rgba(245, 224, 220, 1), */
  /*   -5.1px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.1px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.1px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.1px 0 rgba(245, 224, 220, 1), */
  /*   -5.2px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.2px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.2px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.2px 0 rgba(245, 224, 220, 1), */
  /*   -5.3px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.3px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.3px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.3px 0 rgba(245, 224, 220, 1), */
  /*   -5.4px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.4px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.4px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.4px 0 rgba(245, 224, 220, 1), */
  /*   -5.5px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.5px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.5px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.5px 0 rgba(245, 224, 220, 1), */
  /*   -5.6px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.6px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.6px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.6px 0 rgba(245, 224, 220, 1), */
  /*   -5.7px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.7px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.7px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.7px 0 rgba(245, 224, 220, 1), */
  /*   -5.8px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.8px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.8px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.8px 0 rgba(245, 224, 220, 1), */
  /*   -5.9px 0px 0 rgba(245, 224, 220, 1), */
  /*   5.9px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -5.9px 0 rgba(245, 224, 220, 1), */
  /*   0px 5.9px 0 rgba(245, 224, 220, 1), */
  /*   -6px 0px 0 rgba(245, 224, 220, 1), */
  /*   6px 0px 0 rgba(245, 224, 220, 1), */
  /*   0px -6px 0 rgba(245, 224, 220, 1), */
  /*   0px 6px 0 rgba(245, 224, 220, 1), */
  /*   0px 0px 0 rgba(245, 224, 220, 1); */
}

#custom-ws1.available,
#custom-ws2.available,
#custom-ws3.available {
  color: @blue;
}

#custom-ws1.unavailable,
#custom-ws2.unavailable,
#custom-ws3.unavailable {
  color: @red;
}
#custom-updates,
#custom-updates.has-updates {
  color: @peach;
}

#custom-updates.updated {
  color: @green;
}
#custom-launcher {
  margin-left: 1rem;
  border-radius: 1rem;

  color: @red;
}

#cpu {
  margin-left: 1rem;
  border-radius: 1rem 0px 0px 1rem;
  color: @blue;
}

#memory {
  color: @maroon;
}

#disk {
  color: @rosewater;
}

#temperature {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @peach;
}
