environment {
QS_ICON_THEME "Qogir-Dark"
LIBVA_DRIVER_NAME "nvidia"
__GLX_VENDOR_LIBRARY_NAME "nvidia"
NVD_BACKEND "direct"
WLR_RENDERER "vulkan"
WLR_NO_HARDWARE_CURSORS "1"
__VK_LAYER_NV_optimus "NVIDIA_only"
XDG_CURRENT_DESKTOP "niri"
MOZ_ENABLE_WAYLAND "1"
// QT_QPA_PLATFORM "wayland"
QT_QPA_PLATFORMTHEME "kde"
QT_QPA_PLATFORMTHEME_QT6 "kde"
QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
ELECTRON_OZONE_PLATFORM_HINT "auto"
// GDK_BACKEND "wayland,x11,*"
GBM_BACKEND "nvidia-drm"
SDL_VIDEODRIVER "wayland,x11"
}
screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%d_%H-%M-%S.png"

// spawn-sh-at-startup "dms run --session" // to run using intel graphics card "VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/intel_icd.json QSG_RHI_BACKEND=vulkan"
spawn-sh-at-startup "~/.config/fish/scripts/restore_theme.fish"
spawn-at-startup "/usr/lib/soteria-polkit/soteria"
spawn-at-startup "/usr/bin/kdeconnectd &"
spawn-at-startup "trash-empty 30"


xwayland-satellite {
    // off
    path "xwayland-satellite"
}
