
// Terminal stuff
window-rule {
  match app-id="^ghostty$"
  background-effect {
    blur true
  }
}
// Floating title
window-rule {
  match title="^tclock$"
  open-floating true
  // max-width 451
  //  max-height 173
}
window-rule {
  match app-id="Alacritty" title="^(filechooser|mixer|nmrs)$"
  open-floating true
  default-column-width { proportion 0.75; }
  default-window-height { proportion 0.75; }
}
window-rule {
  match app-id="Alacritty" title="^(launcher|clipboard)$"
  open-floating true
  default-column-width { proportion 0.50; }
  default-window-height { proportion 0.75; }
}

// Floating stay focused
window-rule {
  match title="Authorize"
}

// Floating class
window-rule {
  match app-id="^(org.gnome.Calculator|blueman-manager|com.github.tenderowl.frog|org.kde.kdeconnect.daemon)$"
  open-floating true
}


// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 0 // 9
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

layer-rule {
  match namespace="^*$"
  background-effect {
    xray false
  }
}
